{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div class="container">
        <h1>Student Form</h1>
        <form method="POST">{% csrf_token %}
            <table>
                <tr>
                    <td>Name</td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td>Identity Number</td>
                    <td>{{ form.idNum }}</td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>{{ form.dept }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ form.address }}</td>
                </tr>
            </table>
            <!-- <input type="submit" value="Save" class="button_save"> -->
            <button class="button_save" type="submit" value="Save">Save</button>
        </form>
    </div>    
</body>
</html>